USE [master]
GO
/****** Object:  Database [HETHONGSINHCAUHOITUDONG]    Script Date: 3/17/2026 4:04:52 PM ******/
CREATE DATABASE [HETHONGSINHCAUHOITUDONG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HETHONGSINHCAUHOITUDONG', FILENAME = N'D:\New folder\MSSQL16.SQLEXPRESS02\MSSQL\DATA\HETHONGSINHCAUHOITUDONG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HETHONGSINHCAUHOITUDONG_log', FILENAME = N'D:\New folder\MSSQL16.SQLEXPRESS02\MSSQL\DATA\HETHONGSINHCAUHOITUDONG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HETHONGSINHCAUHOITUDONG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HETHONGSINHCAUHOITUDONG]
GO
/****** Object:  Table [dbo].[BaiThi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiThi](
	[BaiThiId] [int] IDENTITY(1,1) NOT NULL,
	[DeThiId] [int] NULL,
	[NguoiDungId] [int] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayNop] [datetime] NULL,
	[Diem] [float] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[HoTen] [nvarchar](255) NULL,
	[Lop] [nvarchar](50) NULL,
	[MSSV] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BaiThiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[CauHoiId] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[LoaiCauHoiId] [int] NOT NULL,
	[MucDo] [int] NULL,
	[MonHocId] [int] NULL,
	[DoanVanId] [int] NULL,
	[NguoiTaoId] [int] NULL,
	[NgayTao] [datetime] NULL,
	[LoaiId] [int] NULL,
	[ChuDeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CauHoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBaiThi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBaiThi](
	[ChiTietBaiThiId] [int] IDENTITY(1,1) NOT NULL,
	[BaiThiId] [int] NULL,
	[CauHoiId] [int] NULL,
	[CauTraLoi] [nvarchar](max) NULL,
	[Diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietBaiThiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDeThi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDeThi](
	[DeThiId] [int] NOT NULL,
	[CauHoiId] [int] NOT NULL,
	[ThuTu] [int] NULL,
	[Diem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeThiId] ASC,
	[CauHoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTraLoi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTraLoi](
	[ChiTietTraLoiId] [int] IDENTITY(1,1) NOT NULL,
	[LuotLamBaiId] [int] NOT NULL,
	[CauHoiId] [int] NOT NULL,
	[DapAnDuocChonId] [int] NULL,
	[CauTraLoiTuLuan] [nvarchar](max) NULL,
	[LaDung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietTraLoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[ChuDeId] [int] IDENTITY(1,1) NOT NULL,
	[TenChuDe] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChuDeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DapAn](
	[DapAnId] [int] IDENTITY(1,1) NOT NULL,
	[CauHoiId] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[LaDapAnDung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DapAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeThi](
	[DeThiId] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MonHocId] [int] NULL,
	[ThoiLuongPhut] [int] NULL,
	[NguoiTaoId] [int] NULL,
	[NgayTao] [datetime] NULL,
	[DaXuatBan] [bit] NULL,
	[MaDeThi] [varchar](10) NULL,
	[ThoiGianLamBai] [int] NULL,
	[ChuDeId] [int] NULL,
	[HanNop] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DeThiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoanVan]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanVan](
	[DoanVanId] [int] IDENTITY(1,1) NOT NULL,
	[TaiLieuId] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[ThuTu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoanVanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaHanBaiThi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaHanBaiThi](
	[GiaHanId] [int] IDENTITY(1,1) NOT NULL,
	[DeThiId] [int] NULL,
	[MSSV] [nvarchar](50) NULL,
	[HanNopMoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GiaHanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiCauHoi]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCauHoi](
	[LoaiCauHoiId] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[MaLoai] [varchar](20) NOT NULL,
	[LoaiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiCauHoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LuotLamBai]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuotLamBai](
	[LuotLamBaiId] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [int] NOT NULL,
	[DeThiId] [int] NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[TongDiem] [float] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LuotLamBaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MonHocId] [int] IDENTITY(1,1) NOT NULL,
	[TenMonHoc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NguoiTaoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MonHocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[NguoiDungId] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[MatKhauHash] [varchar](255) NOT NULL,
	[VaiTroId] [int] NOT NULL,
	[AnhDaiDienUrl] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[link] [nvarchar](255) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[reset_token] [nvarchar](255) NULL,
	[expires_at] [datetime] NULL,
	[used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[support_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[title] [nvarchar](255) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[support_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiLieu]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiLieu](
	[TaiLieuId] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[DuongDanFile] [nvarchar](max) NULL,
	[MonHocId] [int] NOT NULL,
	[NguoiTaiLenId] [int] NULL,
	[NgayTaiLen] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiLieuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 3/17/2026 4:04:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[VaiTroId] [int] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VaiTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BaiThi_DeThi_Diem]    Script Date: 3/17/2026 4:04:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_BaiThi_DeThi_Diem] ON [dbo].[BaiThi]
(
	[DeThiId] ASC,
	[Diem] ASC,
	[TrangThai] ASC
)
INCLUDE([NgayNop],[HoTen],[MSSV]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChiTietBaiThi_CauHoi]    Script Date: 3/17/2026 4:04:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietBaiThi_CauHoi] ON [dbo].[ChiTietBaiThi]
(
	[CauHoiId] ASC,
	[Diem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeThi_MaDeThi]    Script Date: 3/17/2026 4:04:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeThi_MaDeThi] ON [dbo].[DeThi]
(
	[MaDeThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetTokens_Token]    Script Date: 3/17/2026 4:04:53 PM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetTokens_Token] ON [dbo].[PasswordResetTokens]
(
	[reset_token] ASC,
	[used] ASC,
	[expires_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiThi] ADD  DEFAULT (getdate()) FOR [NgayBatDau]
GO
ALTER TABLE [dbo].[BaiThi] ADD  DEFAULT ('Ðang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[CauHoi] ADD  DEFAULT ((1)) FOR [MucDo]
GO
ALTER TABLE [dbo].[CauHoi] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietDeThi] ADD  DEFAULT ((1.0)) FOR [Diem]
GO
ALTER TABLE [dbo].[ChuDe] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DapAn] ADD  DEFAULT ((0)) FOR [LaDapAnDung]
GO
ALTER TABLE [dbo].[DeThi] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DeThi] ADD  DEFAULT ((0)) FOR [DaXuatBan]
GO
ALTER TABLE [dbo].[DeThi] ADD  DEFAULT ((60)) FOR [ThoiGianLamBai]
GO
ALTER TABLE [dbo].[LuotLamBai] ADD  DEFAULT (getdate()) FOR [ThoiGianBatDau]
GO
ALTER TABLE [dbo].[LuotLamBai] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PasswordResetTokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (N'Chờ xử lý') FOR [status]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TaiLieu] ADD  DEFAULT (getdate()) FOR [NgayTaiLen]
GO
ALTER TABLE [dbo].[BaiThi]  WITH CHECK ADD FOREIGN KEY([DeThiId])
REFERENCES [dbo].[DeThi] ([DeThiId])
GO
ALTER TABLE [dbo].[BaiThi]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([ChuDeId])
REFERENCES [dbo].[ChuDe] ([ChuDeId])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([DoanVanId])
REFERENCES [dbo].[DoanVan] ([DoanVanId])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([LoaiCauHoiId])
REFERENCES [dbo].[LoaiCauHoi] ([LoaiCauHoiId])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([MonHocId])
REFERENCES [dbo].[MonHoc] ([MonHocId])
GO
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD FOREIGN KEY([NguoiTaoId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[ChiTietBaiThi]  WITH CHECK ADD FOREIGN KEY([BaiThiId])
REFERENCES [dbo].[BaiThi] ([BaiThiId])
GO
ALTER TABLE [dbo].[ChiTietBaiThi]  WITH CHECK ADD FOREIGN KEY([CauHoiId])
REFERENCES [dbo].[CauHoi] ([CauHoiId])
GO
ALTER TABLE [dbo].[ChiTietDeThi]  WITH CHECK ADD FOREIGN KEY([CauHoiId])
REFERENCES [dbo].[CauHoi] ([CauHoiId])
GO
ALTER TABLE [dbo].[ChiTietDeThi]  WITH CHECK ADD FOREIGN KEY([DeThiId])
REFERENCES [dbo].[DeThi] ([DeThiId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietTraLoi]  WITH CHECK ADD FOREIGN KEY([CauHoiId])
REFERENCES [dbo].[CauHoi] ([CauHoiId])
GO
ALTER TABLE [dbo].[ChiTietTraLoi]  WITH CHECK ADD FOREIGN KEY([DapAnDuocChonId])
REFERENCES [dbo].[DapAn] ([DapAnId])
GO
ALTER TABLE [dbo].[ChiTietTraLoi]  WITH CHECK ADD FOREIGN KEY([LuotLamBaiId])
REFERENCES [dbo].[LuotLamBai] ([LuotLamBaiId])
GO
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD FOREIGN KEY([CauHoiId])
REFERENCES [dbo].[CauHoi] ([CauHoiId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD FOREIGN KEY([ChuDeId])
REFERENCES [dbo].[ChuDe] ([ChuDeId])
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD FOREIGN KEY([MonHocId])
REFERENCES [dbo].[MonHoc] ([MonHocId])
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD FOREIGN KEY([NguoiTaoId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[DoanVan]  WITH CHECK ADD FOREIGN KEY([TaiLieuId])
REFERENCES [dbo].[TaiLieu] ([TaiLieuId])
GO
ALTER TABLE [dbo].[LuotLamBai]  WITH CHECK ADD FOREIGN KEY([DeThiId])
REFERENCES [dbo].[DeThi] ([DeThiId])
GO
ALTER TABLE [dbo].[LuotLamBai]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD FOREIGN KEY([NguoiTaoId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD FOREIGN KEY([VaiTroId])
REFERENCES [dbo].[VaiTro] ([VaiTroId])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[PasswordResetTokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
ALTER TABLE [dbo].[TaiLieu]  WITH CHECK ADD FOREIGN KEY([MonHocId])
REFERENCES [dbo].[MonHoc] ([MonHocId])
GO
ALTER TABLE [dbo].[TaiLieu]  WITH CHECK ADD FOREIGN KEY([NguoiTaiLenId])
REFERENCES [dbo].[NguoiDung] ([NguoiDungId])
GO
USE [master]
GO
